<!-- Page Header -->
<div class="page-header">
  <div class="content-page-header">
    <h5>Tooltip</h5>
  </div>	
</div>
<!-- /Page Header -->	

<div class="row">

  <!-- Tooltip -->
  <div class="col-md-12">	
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Html Element</h5>
      </div>
      <div class="card-body card-buttons">
        <div class="popover-list">
          <button class="example-popover btn btn-primary mb-0" tooltip="Popover title" type="button" data-container="body" data-bs-toggle="tooltip" placement="top">Hover Me</button>
        </div>
      </div>
    </div>
  </div>
  <!-- /Tooltip -->

  <!-- Popover -->
  <div class="col-md-12">	
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Direction Tooltip</h5>
      </div>
      <div class="card-body card-buttons">
        <div class="tooltip-list">
          <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" placement="top" title="Tooltip on top"  tooltip="Tooltip on top"  >
            Tooltip on top
          </button>
          <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" placement="right" title="Tooltip on right"  tooltip="Tooltip on right"  tooltipPosition="right">
            Tooltip on right
          </button>
          <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" placement="bottom" title="Tooltip on bottom" tooltip="Tooltip on bottom" >
            Tooltip on bottom
          </button>
          <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" placement="left" title="Tooltip on left" tooltip="Tooltip on left"  tooltipPosition="left">
            Tooltip on left
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- /Popover -->
  
  <!-- Tooltip -->
  <div class="col-md-12">	
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Html Element</h5>
      </div>
      <div class="card-body card-buttons">
        <div class="popover-list">
          <ng-template #popTemplate>Here we go: <div [innerHtml]="html"></div></ng-template>
          <button type="button" class="btn btn-primary mb-0" data-bs-toggle="tooltip" data-bs-html="true"  [tooltip] = "popTemplate">
            Tooltip with HTML
          </button>
          <ng-template #popTemplate1>Here we go: <div [innerHtml]="html"></div></ng-template>
          <button type="button" class="btn btn-primary mb-0" triggers="click" data-bs-toggle="tooltip" data-bs-trigger="click" data-bs-html="true" placement="bottom" [tooltip] = "popTemplate1">
            Click Me
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- /Tooltip -->
    
</div>